<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>MakanYuk!!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Catalog Restaurant">
    <meta name="keywords" content="Yus Subakti">
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    </head>
    <body>
        <header class="header">
            <a href="#explore-resto" class="skip-link">Menuju ke konten</a>
            <nav class="nav">
                <div class="mobile">
                    <div>
                        <a href="/" title="anda akan menuju ke konten" class="logo-font">MakanYuk!!</a>
                    </div>
                    
                    <div class="container">
                        <button class="menu" type="button" aria-label="button menu dropdown on mobile">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div>
                </div>
                
                <ul class="nav-list">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="#">Favorite</a></li>
                    <li class="nav-item"><a href="https://www.linkedin.com/in/yussubakti/" target="_blank">About us</a></li>
                </ul>
            </nav>
        </header>
        <div class="hero">
            <div tabindex="0" class="hero__text">
                <h1 class="hero__title">Selamat datang di MakanYuk!!</h1>
                <p class="hero__subtitle">we are here to pamper your stomach's needs</p>
            </div>
        </div>

        <main>
            <div id="explore-resto" class="main-content__container">
                <h2 tabindex="0" class="main-content__title">Explore Restaurant</h2>
                <section id="explore"></section>
            </div>
        </main>

        <footer tabindex="0">
            <ul>
                <li>Copyright &copy; 2021 - MakanYuk!!</li>
                <li>yussubakti x <a href="https://www.dicoding.com/academies/219" target="_blank">Dicoding Indonesia</a></li>
            </ul>
        </footer>
    </body>
</html>
